.coll {
    margin-left: 35%;
    width: 30%;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

.city-info {
    display:flex;
    flex-direction: column;
}

.city-info-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.center1 {
    margin: auto
}

@media (max-width: 600px) {
    .col-8 {
        width: 100%
    }
}